.feed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 16px;
    row-gap: 30px;
    margin-top: 15px;
}

.feed-cards {
    padding: 5px;
    border-radius: 10px;
}

.feed-cards:hover {
    background: #d6d6d6;
    transform: scale(1.01);
    transition: all 10ms ease;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 180px;
    border-radius: 5px;
}

.card h1 {
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin: 5px 0;
}

.card h3 {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin: 6px 0;
}

.card p {
    font-size: 14px;
    color: #6d6d6d;
}