* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#root {
    min-width: 50%;
    width: 100% !important;
}

body {
    max-width: 100%;
    width: 100% !important;
    min-height: 100vh;
    height: 100%;
}

a {
    text-decoration: none;
    color: #5a5a5a5a;
}

img {
    cursor: pointer;
}

.flex-div {
    display: flex;
    align-items: center;
}