.error-page {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 90vh;
}

.error-page .image-container img {
    margin-right: 50px;
    width: 200px;
}

.error-status span {
    font-family: Verdana, sans-serif;
    font-size: 10rem;
    color: #555;
}

.status {
    text-align: center !important;
}

.error-status span:nth-child(2) {
    font-family: Geneva, Georgia, Times, 'Times New Roman', serif;
    color: #5a5a5a5a;
}

.error-message {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 5px;
    text-align: center;
}

.error-message button {
    width: 100px;
    height: 40px;
    text-align: center;
    margin-top: 20px;
    border: none;
    outline: none;
    font-size: 1.2em;
    background-color: #bb0f10;
    border-radius: 5px;
    color: #fff;
}

.error-message button:hover:active {
    transform: scale(0.96);
}

@media (max-width:769px) {
    .error-page .image-container img {
        margin-right: 0;
    }
}
@media (max-width:500px) {
    .error-page .image-container img {
        width: 100px;
        margin-right: 0;
    }
}